<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/assets/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css.map" rel="stylesheet">
    <link href="//raw.githubusercontent.com/l-lin/font-awesome-animation/master/dist/font-awesome-animation.min.css" rel="stylesheet">
    

    <script src="https://handsontable.com/docs/6.2.2/components/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
    <script src="/static/js/vue-socketio.min.js"></script>

    <title>New-App</title>
  </head>

  <body>
    <div class="container is-fluid"  id="app">
      <div class="notification">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="Enter YAML config path" size="80">
          </div>
          <div class="control">
            <a class="button is-info">Load</a>
          </div>
        </div>

      </div>
    </div>
  </body>
  <!-- <script src="/static/build.js"></script> -->
  <script src="/static/js/js-helpers.js"></script>
  <script src="/static/js/vue-components.js"></script>
  <script src="/static/js/vue-store.js"></script>
  <script src="/static/js/vue-main.js"></script>
  <script src="/static/js/main.js"></script>
</html>
